---
import BaseLayout from "../layouts/BaseLayout.astro";
import Job from "../components/Job.astro";
import { jobs } from "../data/jobs";
---

<BaseLayout>
    {jobs.map((job) => (
        <Job
            title={job.title}
            period={job.period}
            description={job.description}
            bullets={job.bullets}
        >
            {job.subProjects && job.subProjects.map((project) => (
                <>
                    <h4>{project.title}</h4>
                    <ul>
                        {project.bullets.map((bullet) => <li>{bullet}</li>)}
                    </ul>
                </>
            ))}
        </Job>
    ))}
</BaseLayout>
